<%- include('partials/header'); -%>
<h1>It's currently <%= temp %> degrees Fahrenheit in <%= city %>.</h1>
<p>Feels like <%= feelsLike %> degrees with <%= description %>.</p>
<img src=<%= imgURL %>>
<%- include('partials/footer'); -%>