<%- include('partials/header'); -%>
<h1>It's currently <%= temp %>° in <%= city %>.</h1>
<p>Feels like <%= feelsLike %>° with <%= description %>.
  <img src=<%= imgURL %>>
</p>
<%- include('partials/footer'); -%>