<%- include('partials/header'); -%>
<div class="center">
  <h1>It's currently <%= temp %> °F in <%= city %>.</h1>
  <p>Feels like <%= feelsLike %> °F with <%= description %>.</p>
  <img src=<%= imgURL %>>
</div>
<%- include('partials/footer'); -%>