<%- include('partials/header'); -%>
<h1>It's currently <%= temp %>°F in <%= city %>.</h1>
<p>Feels like <%= feelsLike %>°F with <%= description %>.
  <img src=<%= imgURL %>>
</p>
<button class="btn btn-lg yButton" onClick="window.location.href=window.location.href">Check Another City</button>
<%- include('partials/footer'); -%>